@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
/* النمط العادي */
body {
  color: black;
  background-color: white;
}

/* النمط في الدارك مود */
@media (prefers-color-scheme: dark) {
  body {
    color: rgb(19, 15, 240);
    background-color: #121212; /* خلفية داكنة */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.txtdash {
  padding-top: 5px;
  font-size: x-large;
}

@media (max-width: 768px) {
  /* تغيير تصميم عناصر معينة على الهواتف */
}
